@charset "UTF-8";

/**
 * 今回はBEMを使用
 */

/*----- ベースレイアウト -----*/
body {
	background-color: #EEEEEE;
	min-width: 900px;
	font-size: 16px;
	height: 100%;
}

header,
nav,
footer {
	background-color: #595959;
	color: #ffffff;
}

header a {
	color: #ffffff;
}

nav a {
	color: #ffffff;
	margin-right: 8px;
}

main {
	background-color: #EEEEEE;
}

h1
 {
	margin: 0;
}

header h1 {
	font-size: 20pt;
	margin: 0;
}

table,
th,
td {
	border-collapse: collapse;
	border: 1px solid #757575;
	padding: 2px;
	height: 100%;
}

table {
	margin: 0 auto;
	width: 80%;
	background-color: #FFFFFF;
}

table th {
	background: #595959;
	color: #ffffff;
	padding: 14px;
}

button {
	padding: 8px 24px;
	background-color: #595959;
	color: #ffffff;
	border: none;
	cursor: pointer;
	width: 200px;
}

button:hover {
	background-color: #757575;
}


/*----- 共通コンポーネント -----*/
.header {
	align-items: center;
	height: 100%;

	.header__container {
		display: flex;
		justify-content: space-between;
		align-items: end;
		padding: 0 32px 0 32px;
	}

	.header__title {
		padding: 32px 0 32px 0;

		a {
			text-decoration: none;
		}
	}

	.header__info {
		padding: 32px 0 8px 0;
	}

	.header__info-logout-btn {
		text-align: right;
		margin-top: 16px;
	}


}

.items-table {
	margin: 0 auto;
	width: 80%;
	background-color: #FFFFFF;

	.items-table__row {
		width: 100%;

		.items-table__header {
			background: #595959;
			color: #ffffff;
			padding: 14px;
		}
	}
}

.page-title {
	margin: 0;
	height: 58px;
	display: flex;
	align-items: end;
	margin-left: 12%;
	margin-bottom: 16px;
}

/*----- ブロックごとのレイアウト -----*/
.login {
	text-align: center;
	height: 100%;

	.login__title {
		padding: 40px 0;
		font-weight: normal;
	}

	.login__container {
		background-color: #FFFFFF;
		border: #757575 solid;
		border-radius: 2px;
		width: 30%;
		height: 200px;
		max-height: 250px;
		margin: 0 auto;
		padding: 40px 50px;

		.login__error-message {
			color: red;
			min-width: 100%;
			min-height: 30px;
		}

		.login__form {

			.login__input {
				width: 80%;
				max-width: 300px;
				height: 25px;
				border: #757575 solid;
				border-radius: 2px;
				padding: 5px 10px;
			}
		}

		.login__button {
			margin-top: 32px;
		}
	}
}

.items,
.cart {
	width: 100%;
	margin-top: 8px;

	.items__nav {
		display: flex;
		justify-content: space-between;
		align-items: end;
		padding: 1px 32px 1px 32px;
		height: 40px;
		margin-bottom: 32px;
	}

	.items__container {
		text-align: center;
		width: 100%;

		.items-table__header--id {
			width: 5%;
		}

		.items-table__data--name {
			text-align: left;
			padding-left: 16px;
		}

		.items-table__header--price,
		.items-table__header--button {
			width: 20%;
		}

		.items-table__button {
			width: 100%;
		}

		.items-table__button--add {
			width: 100%;
		}
	}

	.cart__container {
		text-align: center;
		width: 100%;

		.items-table__header--id {
			width: 5%;
		}

		.items-table__header--price,
		.items-table__header--quantity,
		.items-table__header--subtotal {
			width: 10%;
		}

		.items-table__header--button {
			width: 20%;
		}

		.items-table__data--name {
			text-align: left;
			padding-left: 16px;
		}

		.items-table__footer--total {
			text-align: right;
			padding: 8px 24px;
		}

		.items-table__button--delete {
			width: 100%;
		}
	}

	.customer__container {
		text-align: center;
		width: 100%;

		input {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
		}

		.customer-table__header {
			width: 30%;
		}

		.customer-table__data--confirm {
			text-align: left;
			padding-left: 16px;
		}
	}

	.form__button {
		margin: 32px;
	}
}

.ordered {
	width: 100%;
	margin-top: 24px;

	.ordered__container {
		position: relative;
		background-color: #FFFFFF;
		border: 1px solid #757575;
		max-width: 900px;
		height: 480px;
		text-align: center;
		align-items: center;
		margin: 0 auto;
	}

	.ordered__box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}

	.ordered__content {
		margin-top: 16px;
	}

	.ordered__number {
		color: red;
	}

}